.img-tm {
    width: 100%;
    padding: 10px 10px 0;
}
.letra {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fonte {
    color: rgb(0, 85, 148);
    margin: 10px;
}
.fontsize-padrao {
    font-size: 18px
}
.fontsize-padrao2{
    font-size: 20px;
}
.datecss {
    width:150px
}
.texto-size {
    font-size: 16px;
}
.padrao-buttons{
    color: rgb(0, 85, 148);
    
}

.color-padrao {
    color: white;
    background-color: rgb(0, 85, 148) 
}
.alinha-esquerda {
    margin-left: 5px
}
.align-geral {
    margin: 10px
}
hr {
margin: 0 10px;
border-color: #005593
}


.header-navbar {
    background-color: #005593;
    color: white;
    font-size: 18px
  }

  .header-navbar #navbar-content {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  .header-navbar #navbar-content #return {
    font-size: 21px;
  }
  @media only screen and (max-width: 768px) {
    .header-navbar #navbar-content #return {
      font-size: 18px;
    }
  }
  .header-navbar #navbar-content {
    font-size: 18px;
  }
  .seta {
      color: white
      
  }
  .colordate{
    color:rgb(0, 85, 148);
    border-radius: 5px;
    padding: 6px ;
    max-width: 150px
}


/* Arrumando erros de layout, active, hover e focus */

.btn-correction, .btn-correction:hover, .btn-correction:focus, .btn-correction:active {
    outline: none;
    background-color: #005593;
    color: white;
}