* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-modal {
    background-color:  rgb(0, 85, 148);
    color: white;
    padding: 15px;
    border-radius: 3px 3px 0 0;
}

.header-modal h1 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.img-modal{
    background: url(../IMG/camera.jpg) center center no-repeat;
    background-size: cover;
    width: 160px;
    min-width: 160px;
    height: 160px;
    border-radius: 3px;
}

.content-modal {
    padding: 20px;
    font-size: 16px;
    color: #595959;
    line-height: 1.5;
}

.title {
    color: rgb(0, 85, 148);
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
}

.content-modal i {
    font-size: 18px
}

.subtitle {
    color: rgb(0, 85, 148);
    font-size: 16px;   
    font-weight: 500;
}

input[type=checkbox]{
    margin-right: 2px
}

#datepicker {
    width: auto !important;
}

.datepicker-modal {
    color: #595959;
    outline: none;
    width: 102px;
    cursor: pointer;
}

.datepicker-modal, .datepicker-modal:hover, .datepicker-modal:active, .datepicker-modal:focus, .select-quant, .select-quant:hover, .select-quant:active, .select-quant:focus {
    border: 1px solid #afafaf;
    border-radius: 3px;
}

.footer-modal button {
    padding: 0 10px;
    border: none;
    font-weight: 300;
    font-size: 20px;
    outline: none !important;
    cursor: pointer;
}

.select-quant{
    outline: none;
    cursor: pointer;
    color: #595959;
}

.confirm-btn {
    background-color: rgb(0, 85, 148);
    color: white;
    border: 0;
    border-radius: 3px;
}

.confirm-btn:hover{
    background-color: rgb(0, 76, 134);
}
