* {
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-size: 14px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.header {
    background-color: #005594;
    padding: 0;
}

.title-header {
    font-size: 20px;
    color: #fff;
    font-weight: 680;
    text-transform: uppercase;
    min-width: 186px;
}

.circleProfile {
    color: white;
    font-size: 40px;
    margin: 6px;
}

.circleProfile:hover {
    cursor: pointer;
}

.menu-drop {
    background-color: #fff;
    color: #7c7c7c;
    border-radius: 3px;
    box-shadow:  0 1px 5px rgba(0, 0, 0, 0.15);
    padding: 15px;
    max-width: 200px;
    margin-top: 10px;
}

.title-drop {
    font-size: 18px;
    font-weight: 300;
}

.header-mobile-cont {
    font-size: 18px;
    color: white;
}

.header-mobile-cont a {
    color: white;
}

.header-mobile-cont a:hover, .header-mobile-cont a:active, .header-mobile-cont a:focus {
    text-decoration: none;
    color: rgb(219, 219, 219);
    outline: none;
}

.menu-drop-mobile {
    border-radius: 0;
    background-color: #003a66;
    color: #7c7c7c;
    border: none;
    box-shadow: none;
}

.menu-drop-mobile a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 7px;
    text-decoration: none;
    background-color: #003a66;
}

.menu-drop-mobile a:hover, .menu-drop-mobile a:active, .menu-drop-mobile a:focus {
    background-color: #002746;
}
